*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
}

/* going to add dark color by default */
:root {
  --main-bg-color: #1e1e1e;
  --highlight-color: #414141;
  --project-font-size: 1em;
}

body {
  height: 100vh;
  display: flex;
  margin: 0;
}

.main {
  width: 100vw;
  background-color: #1e1e1e;
  display: flex;
}

#projects {
  background-color: #191919;
  margin: 0;
}

.project_list {
  width: 15vw;

  display: flex;
  flex-direction: column;
  padding: 10px;
}

.project,
.task {
  display: flex;
  justify-content: space-between;
  font-size: var(--project-font-size);
  color: white;
  background-color: #191919;
  padding: 10px;
  cursor: pointer;

  border-radius: 10px;
  border-style: black 2px dotted;
}

.project:hover {
  color: white;
  background-color: #474747;
}

#tasks {
  width: 50vw;
  border-style: dotted dashed solid double;
  border-color: white;
  padding: 1vw;
}

.task {
  color: white;
  height: 5vh;
}

.task:hover {
  background-color: #474747;
}

.task_header {
  display: flex;
  flex-direction: column;
  color: white;
}

.task_header > input {
  color: white;
  background-color: #292929;
  height: 5vh;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
}
